# This file specifies the rules used to generate mock files for interfaces defined in
# packages for the purpose of unit testing. The rules are to be specified of the form:
# package name; mock output file path; package import path; interfaces to mock

# pkg/ecnet/k8s
k8s; pkg/ecnet/k8s/mock_controller_generated.go; github.com/flomesh-io/ErieCanal/pkg/ecnet/k8s; Controller

# pkg/ecnet/multicluster
multicluster; pkg/ecnet/multicluster/mock_client_generated.go; github.com/flomesh-io/ErieCanal/pkg/ecnet/multicluster; Controller

# pkg/ecnet/catalog
catalog; pkg/ecnet/catalog/mock_catalog_generated.go; github.com/flomesh-io/ErieCanal/pkg/ecnet/catalog; MeshCataloger

# pkg/ecnet/endpoint
endpoint; pkg/ecnet/endpoint/mock_endpoint_provider_generated.go; github.com/flomesh-io/ErieCanal/pkg/ecnet/endpoint; Provider

# pkg/ecnet/service
service; pkg/ecnet/service/mock_service_provider_generated.go; github.com/flomesh-io/ErieCanal/pkg/ecnet/service; Provider

# pkg/ecnet/configurator
configurator; pkg/ecnet/configurator/mock_client_generated.go; github.com/flomesh-io/ErieCanal/pkg/ecnet/configurator; Configurator
